/djangotools/
/notifications_rest/dist/
/notifications_rest/django_notifications_rest.egg-info/
/db.sqlite3
/django_notifications_rest.egg-info/
/dist/
/build/lib/djangotools/
/build/lib/notifications_rest/django_notifications_rest.egg-info/
/build/
