name: Django CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        django-version: ["4.2.*", "5.0.*"]  # , "5.1.*"]
        exclude:
          - django-version: '5.0.*'
            python-version: '3.8'
          - django-version: '5.0.*'
            python-version: '3.9'

          - django-version: '5.1.*'
            python-version: '3.8'
          - django-version: '5.1.*'
            python-version: '3.9'
      fail-fast: false

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install psycopg2-binary
        pip install coverage
        pip install codecov
        pip install --pre "django==${{ matrix.django-version }}"
        pip install -r requirements.txt

    - name: Run tests
      run: |
        coverage run --source='.' manage.py test
      env:
        DJANGO_SETTINGS_MODULE: "test_project.settings"

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
